/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Estilos para el título principal */
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

/* Estilos para el párrafo descriptivo */
p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

/* Títulos secundarios */
h2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    color: #1a1a1a;
}

/* Estilos para los contenedores de gráficos */
.contenedor-grafico, .mapa {
    width: 800px;
    margin: 0 auto 40px auto; /* Agregado margen inferior para separación */
    position: relative;
}

/* Estilos para centrar el gráfico de barras */
#chart {
    display: flex;
    justify-content: center;
}

/* Estilos para etiquetas de ejes */
.etiqueta-eje {
    font-size: 12px;
}

/* Estilos para los tooltips */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background: lightsteelblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
}

/* Estilos específicos del mapa */
.ciudad {
    fill: red;
    stroke: #fff;
    stroke-width: 1px;
}

.linea {
    fill: none;
    stroke-opacity: 0.6;
}

.arrow {
    fill: none;
    stroke: steelblue;
    stroke-opacity: 0.6;
    cursor: pointer;
}

.highlight {
    stroke: orange;
    stroke-width: 3px;
}

/* Estilos para el selector */
select {
    margin: 10px auto;
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    color: #333;
}

/* Estilos para el SVG */
svg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

/* Efecto hover en las barras */
rect:hover {
    fill: #007aff;
}

/* Estilos para las etiquetas del gráfico de acordes */
.group-label {
    font-size: 12px;
    fill: #000;
}
